package ${package}.${moduleName}.controller;

import java.util.List;
import java.util.Map;

import com.baomidou.mybatisplus.plugins.Page;
import io.renren.modules.sys.controller.AbstractController;
import org.springframework.web.bind.annotation.*;
import org.springframework.beans.factory.annotation.Autowired;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.service.${className}Service;
import ${mainPath}.common.utils.R;




/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${moduleName}/${pathName}")
public class ${className}Controller extends AbstractController {
	@Autowired
	private ${className}Service ${classname}Service;

	/**
	 * 列表
	 */
	@GetMapping
	@RequiresPermissions("${moduleName}:${pathName}:list")
	public R list(Page pageable){
		//查询列表数据
        return R.ok().put("page", ${classname}Service.selectPage(pageable));
	}


	/**
	 * 信息
	 */
	@GetMapping("/{id}")
	@RequiresPermissions("${moduleName}:${pathName}:info")
	public R info(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}){
		return R.ok().put("${classname}", ${classname}Service.selectById(id));
	}

	/**
	 * 保存
	 */
	@PostMapping
	@RequiresPermissions("${moduleName}:${pathName}:save")
	public R save(@RequestBody ${className} ${classname}){
		${classname}Service.insert(${classname});

		return R.ok();
	}

	/**
	 * 修改
	 */
	@PutMapping
	@RequiresPermissions("${moduleName}:${pathName}:update")
	public R update(@RequestBody ${className} ${classname}){
		${classname}Service.updateById(${classname});

		return R.ok();
	}

	/**
	 * 删除
	 */
	@DeleteMapping
	@RequiresPermissions("${moduleName}:${pathName}:delete")
	public R delete(@RequestBody ${pk.attrType}[] ${pk.attrname}s){
		${classname}Service.deleteBatchIds(Arrays.asList(ids));

		return R.ok();
	}

}
