package ${package}.${moduleName}.service;

import org.springframework.stereotype.Service;
import ${package}.${moduleName}.dao.${className}Mapper;
import ${package}.${moduleName}.entity.${className};
import com.baomidou.mybatisplus.service.impl.ServiceImpl;


@Service("${classname}Service")
public class ${className}Service extends ServiceImpl<${className}Mapper, ${className}> {

}
